<% currently_at t('menu.home') %>

<!-- если ключ имеет правильное название в виде контроллера и представления, то можно написать короткий вариант перевода -->
<h1><%= t '.title' %></h1>

&copy; @zakhar <%= Time.now.year %>